@tailwind base; 
@tailwind components; 

@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(29, 4, 126); */
  background-image: url("./pictures/pexels-pixabay-326055.jpg");
}
.updateForm{
  /* background-image: url("./pictures/pexels-ave-calvar-martinez-4279017.jpg"); */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
